# Configuración del servidor
PORT=8080
NODE_ENV=production

# Opción 1: Conexión a Base de Datos usando una sola URL (Recomendado para Cloud Run / Neon / Supabase)
DATABASE_URL=postgresql://usuario:contraseña@servidor:5432/nombre_base_datos

# Opción 2: Conexión a Base de Datos usando variables separadas
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=tu_contraseña_secreta
DB_NAME=irisproductiondb
DB_SSL=0

# Autenticación y Seguridad
JWT_SECRET=[F6PB[-gDOwgaLj.$cfbFP58^Bw{f*FUQq5?&xuVkxIAzNVBe:Vk8p7xJ/[L[95J
ADMIN_DEFAULT_PASSWORD=y27*wcx|DO76Md'"wvSl

# URLs y CORS
APP_URL=http://localhost:5173
CORS_ORIGINS=http://localhost:5173

